.slide-panel.slide-panel--right#basket-panel
  .close-btn
  //- .empty
  //-   h2.semibold_28 Ой, пусто!
  //-   p.regular_16 Ваша корзина пуста, откройте «Каталог» и выберите понравившийся товар.
  h2.slide-panel__title.semibold_28 Корзина
  br
  //- .cart
  //-   mixin cart(img,name,color)
  //-   .cart__item 
