#catalog-menu
  ul
    li 
      span Электроника
      ul
        mixin subcategory(subcategory)
          li
            a(href='#/')=subcategory
        +subcategory('Компьютеры')
        +subcategory('Бытовая техника')
        +subcategory('Одежда и обувь')
        +subcategory('Красота и гигиена')
        +subcategory('Детские товары')
        +subcategory('Дом')
        +subcategory('Дача и сад')
        +subcategory('Строительство и ремонт')
      
    li 
      span Компьютеры
      ul
        +subcategory('Красота и гигиена')
        +subcategory('Детские товары')
        +subcategory('Дом')
        +subcategory('Дача и сад')
        +subcategory('Строительство и ремонт')
      
    mixin category(category)
      li
        a(href='#/')=category 
    +category('Компьютеры')
    +category('Бытовая техника')
    +category('Одежда и обувь')
    +category('Красота и гигиена')
    +category('Детские товары')
    +category('Дом')
    +category('Дача и сад')
    +category('Строительство и ремонт')

  