.mobile-nav
  .container
    .mobile-nav__wrap
      mixin controller(icon,title,count,modify)
        .mobile-nav__item(class=modify)
          a(href="#").mobile-nav__controller
            .mobile-nav__controller-top
              .mobile-nav__controller-icon
                if count === ''
                else
                  .mobile-nav__controller-count
                    span=count
                i(class='icon-ic_'+icon)
            .mobile-nav__controller-title=title
      +controller('happy_home','Главная','','active')
      +controller('menu','Каталог','','catalog-trigger-js')
      +controller('cart','Корзина', 996)
      +controller('favorite','Избранное', 6)
      +controller('happy_profile','Профиль','')
