#preloader.preloader
  .preloader__loader
    .preloader__loader-eyes
      .preloader__eye
      .preloader__eye
    .preloader__smile
      svg(width='50' height='22' viewBox='0 0 50 22' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M3.12549 9.32274C7.84047 14.9512 14.9195 18.53 22.8367 18.53C33.1704 18.53 42.0764 12.4333 46.1595 3.64185' stroke='#1C3F3A' stroke-width='5.89372' stroke-linecap='round')
        path(d='M3.12451 9.3216C7.83949 14.9501 14.9201 18.5292 22.8367 18.5292C33.1691 18.5292 42.0774 12.4325 46.1608 3.64038' stroke='#1C3F3A' stroke-width='5.89372')
