header.header
  .header__top.container 
    .header__col
      a(href="#").logo
        img(src="data:image/gif;base64,R0lGODlhBwAFAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAUAAAIFjI+puwUAOw==" data-src="assets/img/logo.svg", alt="").lazy
    .header__col
      form(action="")
        .header__search   
          input(type="search" placeholder="Искать на happy")
          button(type="submit").submit
            i.icon-ic_search 
            //- Выпадающий список (результат поиска) 
          .header__search-dropdown(style="display: none;")
            mixin searchOption(result)
              a(href="#").header__search-dropdown-result=result
            +searchOption('macbook air m1')  
            +searchOption('macbook air')  
            +searchOption('macbook')  
            +searchOption('macbook pro 16')  
            +searchOption('macbook pro m1')  
            +searchOption('macbook air m1')  
            +searchOption('macbook air')  
            +searchOption('macbook')  
            +searchOption('macbook pro 16')  
            +searchOption('macbook pro m1')  
    .header__col
      .header__top-panel-controllers
        a(href="#").header__controller.header__controller--points
          .header__controller-top
            .header__controller-count-points 0
          .header__controller-title Баллов
        mixin controller(icon,title,count,modify)
         a(href="#" class=modify).header__controller
          .header__controller-top
            .header__controller-icon
              if count === ''
              else
                .header__controller-count
                  span=count
              i(class='icon-ic_'+icon)
          .header__controller-title=title
        +controller('orders','Заказы','')
        +controller('favorite','Избранное',2)
        +controller('cart','Корзина', 6, 'cart-js')
        +controller('happy_profile','Профиль','')

  .header__bottom.container
    a(href="#catalog-menu").header__catalog-trigger.catalog-trigger-js
      i.icon-ic_menu
      | Каталог товаров
    .header__nav
      .header__nav-trigger ...

      ul
        mixin nav(item)
          li 
            a(href="#")=item  
        +nav('Электроника')      
        +nav('Одежда')      
        +nav('Детям')      
        +nav('Красота')      
        +nav('Дом и сад')      
      ul(class="toggle-fade")
        +nav('Как заказать?')      
        +nav('Способы оплаты')      
        +nav('Доставка')      
        +nav('Контакты')      
