* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
  font-family: $rubik;
  background-color: $br_primary_4;
}

body {
  position: relative;

  &.no-scroll {
    overflow-y: hidden;
  }

  &.layer {
    &:before {
      position: fixed;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, .3);
      z-index: 10;
    }
  }
}

a {
  text-decoration: none;
  transition: $tr;
}

img {
  width: 100%;
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}


button {
  outline: none;
  border: none;
  background: transparent;
}

// flex footer
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  @include xs {
    padding-bottom: rem(50);
  }

  .content {
    flex: 1 0 auto;
  }
}

// flex footer end

// container
.container {
  width: 100%;
  padding-right: rem(15px);
  padding-left: rem(15px);
  margin-right: auto;
  margin-left: auto;
  max-width: rem(1280px);
  position: relative;
  box-sizing: border-box;

  @include lg {
    max-width: rem(1060px);
  }

  @include md {
    max-width: rem(820px);
  }

  @include sm {
    max-width: rem(640px);
  }

  @include xs {
    max-width: 100%;
  }
}


// container end

form {
  width: 100%;
}

.title-wrap {
  @include md {
    margin-bottom: rem(20);
  }

  @include xs {
    @include aic-jfcsb;
    width: 100%;
    padding-right: rem(15);
    margin-bottom: 0;
  }

  .title {
    @include semibold_28;
    margin-bottom: rem(12);

    @include xs {
      @include semibold_20;
      margin-bottom: 0;
    }
  }
}

.more {
  @include medium_14;
  color: $br_secondary_2;
  padding-right: rem(4);
  position: relative;
  display: inline-block;

  &:after {
    position: absolute;
    content: '\e805';
    font-family: icon;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    transition: $tr;
  }

  &:hover {
    &:after {
      transform: translateX(5px) translateY(-50%);

      @include xs {
        transform: translateX(2px) translateY(-50%);
      }
    }
  }

  span {
    @include xs {
      display: none;
    }
  }
}

.section {
  @include aifs-jfcsb;

  @include md {
    flex-direction: column;
  }

  &__col {
    @include xs {
      width: 100%;
    }

    &:first-child {
      @include xs {
        margin-bottom: rem(24);
      }
    }

    &:last-child {
      max-width: rem(960);
      width: 100%;

      @include lg {
        max-width: rem(700);
      }

      @include md {
        max-width: 100%;
      }
    }
  }
}

.ribbon-wrap {
  position: relative;
  min-height: rem(100);
  margin-bottom: rem(60);
  overflow: hidden;

  @include xs {
    min-height: rem(60);
    margin-bottom: rem(50);
  }

  .ribbon {
    height: rem(20);
    width: 100%;
    background-image: url('./img/ribbon.webp');
    background-repeat: repeat-x;
    position: absolute;
    top: 50%;
    transform-origin: center;
    background-size: contain;

    @include xs {
      transform-origin: left;
    }

    &:first-child {
      transform: translateY(-65%) rotate(2deg);

      @include xs {
        transform-origin: left;
      }
    }

    &:last-child {
      transform: translateY(-50%) rotate(-2deg);

      @include xs {
        transform-origin: left;
      }
    }

  }
}