* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
  font-family: $rubik;
  background-color: $br_primary_4;
}

body {
  position: relative;

  &.no-scroll {
    overflow-y: hidden;
  }

  &.layer {
    &:before {
      position: fixed;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, .3);
      z-index: 10;
    }
  }
}

a {
  text-decoration: none;
  transition: $tr;
}

img {
  display: block;
  background-image: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=);
  width: 100%;
}

.easyzoom-flyout {
  width: 500px !important;
  height: 500px !important;
  border: rem(1) solid $br_primary_2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
  top: 50% !important;
  transform: translateY(-30%);
  z-index: 9;

  @include md {
    width: rem(350) !important;
    height: rem(300) !important;
  }

  @include sm {
    display: none;
  }

  img {
    width: auto !important;
  }
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}


button {
  outline: none;
  border: none;
  background: transparent;
}

.btn {
  border-radius: rem(20);
  min-height: rem(40);
  color: $neu_primary_6;
  @include medium_14;
  @include aic-jcc;
  width: 100%;
  outline: none;
  transition: $tr;
  cursor: pointer;

  &--br_primary_2 {
    background-color: $br_primary_2;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);

    &:hover {
      background-color: $br_primary_3;
    }
  }

  &--br_secondary_2 {
    background-color: $br_secondary_2;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);

    &:hover {
      background-color: $br_secondary_3;
    }
  }
  &.disabled {
    color: $neu_primary_2;
    background-color: $neu_primary_5;
    box-shadow: none;
    pointer-events: none;
  }
}

// flex footer
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  @include xs {
    padding-bottom: rem(50);
  }

  .content {
    flex: 1 0 auto;
  }
}

// flex footer end

// container
.container {
  width: 100%;
  padding-right: rem(15px);
  padding-left: rem(15px);
  margin-right: auto;
  margin-left: auto;
  max-width: rem(1230px);
  position: relative;
  box-sizing: border-box;

  @include lg {
    max-width: rem(1060px);
  }

  @include md {
    max-width: rem(820px);
  }

  @include sm {
    max-width: rem(640px);
  }

  @include xs {
    max-width: 100%;
  }
}


// container end









form {
  width: 100%;
}

.title-wrap {
  @include md {
    margin-bottom: rem(20);
  }

  @include xs {
    @include aic-jfcsb;
    width: 100%;
    padding-right: rem(15);
    margin-bottom: 0;
  }

  .title {
    @include semibold_28;
    margin-bottom: rem(12);

    @include xs {
      @include semibold_20;
      margin-bottom: 0;
    }
  }
}

.more {
  @include medium_14;
  color: $br_secondary_2;
  padding-right: rem(4);
  position: relative;
  display: inline-block;

  &:after {
    position: absolute;
    content: '\e805';
    font-family: icon;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    transition: $tr;
  }

  &:hover {
    &:after {
      transform: translateX(5px) translateY(-50%);

      @include xs {
        transform: translateX(2px) translateY(-50%);
      }
    }
  }

  span {
    @include xs {
      display: none;
    }
  }
}

.back {
  position: relative;
  padding-left: rem(20);
  margin-bottom: rem(15);
  display: block;
  cursor: pointer;

  &:before {
    position: absolute;
    content: '\e804';
    font-family: icon;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: $tr;
  }

  &:hover {
    &:before {
      transform: translateY(-50%) translateX(-2px);
    }
  }
}

.section {
  @include aifs-jfcsb;

  @include md {
    flex-direction: column;
  }

  &__col {
    @include xs {
      width: 100%;
    }

    &:first-child {
      @include xs {
        margin-bottom: rem(24);
      }
    }

    &:last-child {
      max-width: rem(960);
      width: 100%;

      @include lg {
        max-width: rem(700);
      }

      @include md {
        max-width: 100%;
      }
    }
  }

  &--triple-section {
    .section__col {
      margin-right: rem(25);

      // &:nth-child(2) {
      //   width: 50%;
      // }

      &:last-child {
        margin-right: 0;
        @include aifs-jfcsb;

        // width: 30%;
        @include lg {
          flex-direction: column;
        }
      }
    }
  }
}

.ribbon-wrap {
  position: relative;
  min-height: rem(100);
  margin-bottom: rem(60);
  overflow: hidden;

  @include xs {
    min-height: rem(60);
    margin-bottom: rem(50);
  }

  .ribbon {
    height: rem(20);
    width: 100%;
    background-image: url('./img/ribbon.webp');
    background-repeat: repeat-x;
    position: absolute;
    top: 50%;
    transform-origin: center;
    background-size: contain;

    @include xs {
      transform-origin: left;
    }

    &:first-child {
      transform: translateY(-65%) rotate(2deg);

      @include xs {
        transform-origin: left;
      }
    }

    &:last-child {
      transform: translateY(-50%) rotate(-2deg);

      @include xs {
        transform-origin: left;
      }
    }

  }
}

.close-btn {
  width: rem(26);
  height: rem(26);
  @include aic-jcc;
  cursor: pointer;
  position: absolute;
  top: rem(15);
  right: rem(15);
  z-index: 99;

  &:before {
    position: absolute;
    content: '\e80a';
    font-family: icon;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: rem(30);
  }
}

.slide-panel {
  max-width: rem(375);
  width: 100%;
  background-color: $br_primary_4;
  padding: rem(40) rem(15);
  position: fixed;
  top: 0;
  transition: $tr;
  height: 100%;
  z-index: 10;

  @include xs {
    max-width: 100%;
    padding-bottom: rem(120);
  }

  &--right {
    right: -100%;

    &.open {
      right: 0;
    }
  }

  &--left {
    left: -100%;

    &.open {
      left: 0;
    }
  }
}

.empty {
  @include aic-jcc-fdc;
  text-align: center;
  height: 100%;
  padding: rem(15) 0;

  h2 {
    margin-bottom: rem(15);
  }

  p {
    color: $neu_primary_2;
  }
}

.input {
  position: relative;

  input,
  textarea {
    width: 100%;
    min-height: rem(48);
    border: none;
    padding: rem(12) rem(14);
    border: rem(1) solid $neu_primary_4;
    border-radius: rem(10);
    resize: vertical;

    @include placeholder {
      color: $neu_primary_3;
      @include regular_14;
    }
  }

  &__icon {
    position: absolute;
    right: rem(8);
    top: 50%;
    transform: translateY(-50%);
    color: $neu_primary_3;
    font-size: rem(20);
    cursor: pointer;
  }

  &.activation {
    input {
      padding-right: rem(40);
    }

    .input__icon {
      pointer-events: none;
    }

    &.active {
      .input__icon {
        pointer-events: inherit;
        color: $br_primary_2;
      }
    }
  }

  .pass-controll {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: rem(10);
    @include aic-jcc;
    cursor: pointer;

    i {
      font-size: rem(22);
    }

    &.show-pass {
      color: $neu_primary_3;
    }

    &.hide-pass {
      display: none;
    }
  }

}

.select {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: rem(10);
  background-color: $neu_primary_6;
  min-height: rem(48);
  @include aic;
  padding: rem(12) rem(14);
  cursor: pointer;

  &:after {
    position: absolute;
    content: '\e803';
    font-family: icon;
    top: 50%;
    transform: translateY(-50%);
    right: rem(7);
    font-size: rem(25);
  }

  &__selected {
    padding-right: rem(20);
    width: 100%;
  }

  &__dropdown {
    position: absolute;
    top: 0;
    transition: $tr;
    background-color: $neu_primary_6;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: rem(10);
    width: 100%;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    left: 0;
    z-index: 2;

    &.open {
      top: calc(100% + 5px);
      opacity: 1;
      pointer-events: inherit;
    }
  }

  &__option {
    padding: rem(5) rem(10);
    cursor: pointer;
    transition: $tr;

    &:hover {
      background-color: $neu_primary_4;
    }
  }


}