#catalog-menu {
  max-width: rem(375);
  width: 100%;
  background-color: $br_primary_4;
  padding: rem(40) rem(15);

  @include xs {
    max-width: 100%;
  }

  * {
    border: none;
  }

  @include xs {
    padding: rem(25) rem(15);
  }


  .mm-panels,
  .mm-panel {
    background-color: $br_primary_4;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .mm-navbar {
    background: $br_primary_4;
    color: $neu_primary_1;
    @include semibold_28;
    border-bottom: none;
    @include aic-fdc;
    flex-direction: column-reverse;
    align-items: flex-start;

    .mm-navbar__title {
      justify-content: flex-start;
      padding: 0;
      margin-bottom: rem(24);
    }

    .mm-btn--prev {
      @include medium_14;
      width: 100%;
      display: block;
      text-align: left;
      margin-bottom: rem(19);
      color: $neu_primary_2;
      padding-left: rem(25);

      &:before {
        position: absolute;
        content: '\e804';
        font-family: icon;
        left: 0;
        transform: rotate(0) translateY(-50%);
        top: 50%;
        width: rem(13);
        height: rem(13);
        border: none;
        @include aic-jcc;
        font-size: rem(18);
      }
    }

    .mm-btn--close {
      position: absolute;
      bottom: calc(100% - 10px);
      right: 0;
      width: auto;

      &:before {
        @include aic-jcc;
        content: '\e80a';
        font-family: icon;
        font-size: rem(26);
      }
    }

  }

  .mm-listview {
    background-color: $neu_primary_6;
    border-radius: rem(10);
    padding: rem(8);

    .mm-listitem {


      &:after {
        display: none;
      }


      .mm-listitem__text {
        padding: rem(12);
        border-radius: rem(10);
        transition: $tr;
        border: none;

        &:hover {
          background-color: $br_primary_4;

          &.mm-btn--next {
            &:after {
              right: rem(6);
            }
          }

        }

        &.mm-btn--next {
          &:after {
            content: '\e805';
            font-family: icon;
            transform: rotate(0);
            width: rem(16);
            height: rem(16);
            border: none;
            bottom: auto;
            top: 50% !important;
            right: rem(12);
            transform: translateY(-50%) !important;
            @include aic-jcc;
            font-size: rem(20);
            transition: $tr;
          }
        }
      }
    }
  }
}

