extends layout/main/main
block title
  | page info
block main
  .wrapper
    include includes/cart
    .content
      include includes/header/header
    
      .information
        .container
          h2.information__title Кто мы?
          p Обычно люди приходят в Додо Пиццу, чтобы просто поесть. Наши промоутеры раздают листовки про кусочек пиццы  или ещё что-то выгодное. Мы делаем это как первый шаг, чтобы познакомиться.
          p Но для нас Додо — не только пицца. Это и пицца тоже, но в первую очередь это большое дело, которое вдохновляет нас, заставляет каждое утро просыпаться и с интересом продолжать работу.
          h3.information__subtitle Открытость во всём
          p Кто угодно может написать сотню правил, но само по себе это не работает. Нужна сила, благодаря которой стандарты будут соблюдаться. Для нас этой силой стала открытость. Мы сделали всё настолько прозрачным, что отступать от стандартов просто не получается.
          p Именно открытость заставляет нас выполнять обещания, соблюдать стандарты и работать строго в рамках закона. Но открытость для нас — не просто модный тренд. Это наше глубокое убеждение, философия и ценность, которую мы хотим нести миру.
          img(src="assets/img/information.jpg", alt="")

        
    include includes/footer/footer
    include includes/preloader
    include includes/mobile-nav
    include includes/catalog
    include includes/auth
  
  
  include includes/scripts