@import "mixins/fontface";

@include font-face("fontsName", "../assets/fonts/fontsName", 400);


@mixin semibold_40 {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -2%;
}

@mixin semibold_28 {
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -2%;
}

@mixin semibold_24 {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -2%;
}

@mixin semibold_20 {
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -2%;
}

@mixin semibold_18 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -2%;
}

@mixin regular_16 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

@mixin medium_16 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

@mixin semibold_16 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}

@mixin regular_14 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
}

@mixin crossed_14 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
}

@mixin medium_14 {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
}

@mixin semibold_14 {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -2%;
}
@mixin regular_12 {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
}
@mixin crossed_12 {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
}
@mixin medium_12 {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
}
@mixin semibold_12 {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
}
@mixin regular_10 {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0%;
}
@mixin medium_10 {
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0%;
}