@import "mixins/rem";

$tr: all .3s;
$rubik: 'Rubik',
sans-serif;

// colors
$br_primary_1: #1C3F3A;
$br_primary_2: #19987A;
$br_primary_3: #54C0A7;
$br_primary_4: #E4F1E8;
$br_secondary_1: #DD4515;
$br_secondary_2: #FC5230;
$br_secondary_3: #FC9F81;
$br_secondary_4: #FDE7E0;
$br_tertiary_1: #CED330;
$br_tertiary_2: #F0F55B;
$br_tertiary_3: #FAFD99;
$br_tertiary_4: #FEFFDF;
$neu_primary_1: #000000;
$neu_primary_2: rgba(#000000, 0.65);
$neu_primary_3: rgba(#000000, 0.35);
$neu_primary_4: rgba(#000000, 0.1);
$neu_primary_5: rgba(#000000, 0.05);
$neu_primary_6: #fff;




.br_primary_1 {
  color: #1C3F3A;
}

.br_primary_2 {
  color: #19987A;
}

.br_primary_3 {
  color: #54C0A7;
}

.br_primary_4 {
  color: #E4F1E8;
}

.br_secondary_1 {
  color: #DD4515;
}

.br_secondary_2 {
  color: #FC5230;
}

.br_secondary_3 {
  color: #FC9F81;
}

.br_secondary_4 {
  color: #FDE7E0;
}

.br_tertiary_1 {
  color: #CED330;
}

.br_tertiary_2 {
  color: #F0F55B;
}

.br_tertiary_3 {
  color: #FAFD99;
}

.br_tertiary_4 {
  color: #FEFFDF;
}

.neu_primary_1 {
  color: #000000;
}

.neu_primary_2 {
  color: rgba(#000000, 0.65);
}

.neu_primary_3 {
  color: rgba(#000000, 0.35);
}

.neu_primary_4 {
  color: rgba(#000000, 0.1);
}

.neu_primary_5 {
  color: rgba(#000000, 0.05);
}

.neu_primary_6 {
  color: #fff;
}